<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		
		<mapping resource="cn/gdpu/vo/Admin.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Institute.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Classes.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Student.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Group.hbm.xml" />
		<mapping resource="cn/gdpu/vo/GroupApply.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Assistant.hbm.xml" />
	</session-factory>
</hibernate-configuration>
