<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		
		<mapping resource="cn/gdpu/vo/People.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Institute.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Classes.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Group.hbm.xml" />
		<mapping resource="cn/gdpu/vo/GroupApply.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Activity.hbm.xml" />
		<mapping resource="cn/gdpu/vo/ActivityType.hbm.xml" />
		<mapping resource="cn/gdpu/vo/ActivityApply.hbm.xml" />
		<mapping resource="cn/gdpu/vo/ActivityResult.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Comment.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Opus.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Outlay.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Notice.hbm.xml" />
		<mapping resource="cn/gdpu/vo/NoticeType.hbm.xml" />
		<mapping resource="cn/gdpu/vo/Post.hbm.xml" />
	</session-factory>
</hibernate-configuration>
